<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/css/chessboard-1.0.0.min.css">
    <link rel="stylesheet" href="/static/css/main.css">

  </head>
  <body>
    <style>
    body {
      background-color: #222;
    }
    #gameStatus {
      color: white;
    }
    .playerName {
      color: white;
    }

    </style>

    <div class="container">
      <h1 id="gameStatus">Waiting for opponent...</h1>
      <h1 class="playerName" id="opponentName"></h1>
      <div id="myBoard" style="width: 500px"></div>
      <h1 class="playerName" id="myName"></h1>
    </div>
    <script src="/static/js/jquery-3.5.1.min.js"></script>

    <script src="/static/js/chessboard-1.0.0.min.js"></script>
    <script src="/static/js/chess.js"></script>
    <script>
    let myName = prompt("Enter your name", "Anonymous");

    let config = {
      draggable: true,
      dropOffBoard: 'snapback', // this is the default
      orientation: 'white',
      position: 'start',
      onDrop: onDrop,
      onDragStart: onDragStart
    }

    const gameStatusElement = window.document.getElementById("gameStatus");
    const opponentNameElement = window.document.getElementById("opponentName");
    const myNameElement = window.document.getElementById("myName");

    const game = new Chess();

    let board;
    let amIWhite = false;
    let myTurn = true;
    let gameOver = false;
    let opponentName = "";

    const protocol = window.location.protocol === 'https:' ? 'wss:' : 'ws:';
    const ws = new WebSocket(`${protocol}//${window.location.host}/ws?name=${myName}`);

    const messageHandlers = {
      "GameStarted": handleGameStarted,
      "Move": handleIncomingMove,
      "GameAborted": handleGameAborted
    }

    ws.onopen = function() {
      console.log("Connected to server");
    }

    ws.onmessage = async function(event) {
      let data;
      try {
	data = JSON.parse(await event.data.text());
      } catch (e) {
	console.debug("Received ping");
	return;
      }

      console.debug(`Received message: ${JSON.stringify(data)}`);

      const handler = messageHandlers[data.type];
      if (handler) {
	handler(data);
      } else {
	console.error(`Unknown message type: ${data.type}`);
      }
    };

    function handleGameStarted(data) {
      opponentName = data.opponent_name;
      console.log(`Game started against ${opponentName}`);
      gameStatusElement.innerHTML = "";
      opponentNameElement.innerHTML = opponentName;
      myNameElement.innerHTML = myName;
      amIWhite = data.am_i_white;

      if (!amIWhite) {
	config.orientation = 'black';
	myTurn = false;
      }

      board = Chessboard('myBoard', config);
    }

    function handleIncomingMove(data) {
	const source = data.uci.slice(0, 2);
	const target = data.uci.slice(2, 4);

	const move = game.move(
	  {
	    from: source,
	    to: target,
	    promotion: 'q'
	  }
	);
	if (move === null) {
	  console.error("Invalid opponent move");
	  return;
	}
	board.position(game.fen());
	checkGameOver();

	myTurn = true;
    };

    function handleGameAborted(data) {
      gameOver = true;
      gameStatusElement.innerHTML = "Game aborted.<br>Opponent disconnected.";
    }

    function sendMove(uci) {
      const payload = {
	type: "Move",
	uci: uci
      }

      msg = JSON.stringify(payload);
      ws.send(msg);
      myTurn = false;

      console.debug(`Sent message: ${msg}`);
    }

    function onDragStart (source, piece, position, orientation) {
      if (!myTurn || gameOver) return false
      if (game.game_over()) return false

      if ((orientation === 'white' && piece.search(/^w/) === -1) ||
	(orientation === 'black' && piece.search(/^b/) === -1)) {
	return false
      }
    }

    function checkGameOver() {
      if (!game.game_over()) {
	return;
      }

      let result;

      if (game.in_checkmate()) {
	if (myTurn) {
	  result = "You won by checkmate!";
	} else {
	  result = "Opponent wins by checkmate!";
	}

      } else if (game.in_draw()) {
	result = "Game ended in a draw!";
      }

      gameStatusElement.innerHTML = result;
    }

    function onDrop (source, target) {
      if (!myTurn) return 'snapback'

      if (source === target) return 'snapback'

      const move = game.move({
	from: source,
	to: target,
	promotion: 'q'
      })
      if (move === null) {
	console.debug("Invalid move");
	return 'snapback'
      }

      board.position(game.fen());
      checkGameOver();

      const uci = `${source}${target}`

      console.debug(`Detected move: ${uci}`);

      sendMove(uci)
    }


    </script>
  </body>
</html>
